body {
  background-color: #002244;
}

h1, h2, p {
  color: white;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

strong {
  font-weight: bold;
}

q {
  font-style: italic;
}

.welcome-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  padding: 20px;
  text-align: center;
}

.AffordableThreads{
  text-align: center;
}

.AffordableThreadsWelcome{
  text-align: center;
}

.AffordableThreadsMessage{
  text-align: center;
  font-size: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  max-width: 800px;
  background-color: #002244;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  
}

.box a {
  text-decoration: none;
  color: inherit; /* Maintain the color of the text inside the link */
}

.AffordableThreads {
  margin-top: 0;
}

.box {
  transition: background-color 0.3s ease;
}

.box:hover {
  background-color: #001633;
}

